INFORME/attachments/
INFORME/chapters/
INFORME/core/
INFORME/images/
INFORME/logos/
INFORME/bibliografia.bib
INFORME/LEEME.txt
INFORME/newapa.bst
INFORME/tesis.tex
INFORME/tesis.acn 
INFORME/tesis.aux
INFORME/tesis.bbl
INFORME/tesis.fdb_latexmk
INFORME/tesis.fls
INFORME/tesis.glo
INFORME/tesis.ist
INFORME/tesis.lof
INFORME/tesis.log
INFORME/tesis.lot
INFORME/tesis.out
INFORME/tesis.tex
INFORME/tesis.toc
INFORME/tesis.bbl
INFORME/tesis.blg 
INFORME/tesis.synctex.gz
INFORME/Ilustraciones
ILUSTRACIONES/